{% extends 'base.html.twig' %}

{% block title %}Modifier {{ category.nameCategory }} {% endblock %}


{% block main %}

	<div class="container text-white mt-4">

		<h1 class="text-center text-uppercase">Modifier la catégorie</h1>

		<div>

			{{ include('back/category/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

			<a class="btn btn-primary" href="{{ path('back_category_index') }}">Retour</a>
		</div>


		
	</div>


{% endblock %}
