<form class="mb-2 mt-2" id="back_delete_button" method="post" action="{{ path('back_task_delete', {'id': task.id}) }}" onsubmit="return confirm('Supprimer la tâche ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ task.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
