<form class="mb-2 mt-2" id="back_delete_button" method="post" action="{{ path('back_project_delete', {'id': project.id}) }}" onsubmit="return confirm('Supprimer le projet ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ project.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
